*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}

body{
  overflow-x: hidden;
  background: #353131 ;
  background-attachment: fixed;
  padding: 10vh 0;
}

.bodyofcards{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.singlecard{
  width: 300px;
  background-color: rgba(255, 255, 255, 80%);
  text-align: center;
  min-height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border-radius:15px;
  margin: 10px;
  box-shadow: rgba(245, 242, 244, 0.4) 5px 5px, rgba(147, 141, 145, 0.3) 10px 10px, rgba(211, 209, 210, 0.2) 15px 15px, rgba(229, 229, 229, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  transition: all .3s;
}

.singlecard:hover{
  background-color:rgb(34, 26, 26);
  color:white;
  scale: 1.1;
}
